<section>
    <script src="https://kit.fontawesome.com/76d003de19.js" crossorigin="anonymous"></script>
      <!-- NavBar-->
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="<%= profile_home_url%>">
          <i class="fa-solid fa-house"></i> <!--FontAwesome-->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <!--These are all Links in the NavBar-->
            <li class="nav-item">
              <a class="nav-link" href="<%= profile_about_url%>">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= profile_portfolio_url%>">Portfolio</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

      <!--- Text Section Bootstrap text alignment-->
      <p class="text-center">
        I'm a computer science major at Connecticut College. I also major in Art History. I feel like Conn is one of the few schools were I can
        pursue two passions that are so different. Below are some of my favorite classes from both majors!: 
      </p>

      <div class="text-center">
        <%= image_tag 'ancient.jpg', :rel => 'apple-touch-icon', :type => 'image/png' %>
      </div>

      <p class="text-center">
        <i class="fa-solid fa-palette"></i> <!--FontAwesome-->
      </p>
      <p class="text-center">
        Ancient and Medieval Art and Architecture. This class was a survey course of early art history, and it was amazing. It focused on Western
        and Middle Eastern Art. We saw old plans, sculptures, and early paintings (frescos and mosaics). My favorite unit was definitely Ancient Egypt. 
      </p>

      <div class="text-center">
        <%= image_tag 'villa.jpg', :rel => 'apple-touch-icon', :type => 'image/png' %>
      </div>

      <p class="text-center">
        <i class="fa-solid fa-leaf"></i> <!--FontAwesome-->
      </p>
      <p class="text-center">
        Renaissance Garden and Villa Design. This class was so fun! We got to look at all different kinds of Italian villas, and explore
        the gardens around them. This got me very hype to study abroad in Rome. 
      </p>

      <div class="text-center">
        <%= image_tag 'ds.jpg', :rel => 'apple-touch-icon', :type => 'image/png' %>
      </div>

      <p class="text-center">
        <i class="fa-solid fa-computer"></i> <!--FontAwesome-->
      </p>
      <p class="text-center">
        Data Structures. Now, this one is unexpected, but it wasn't just the material that made me love the class. I liked that as students
        we were challenged to design potential structures that could hold information, and debated with the class why our idea was the best.
      </p>

      <div class="text-center">
        <%= image_tag 'ai.jpg', :rel => 'apple-touch-icon', :type => 'image/png' %>
      </div>

      <p class="text-center">
        <i class="fa-solid fa-robot"></i> <!--FontAwesome-->
      </p>
      <p class="text-center">
        Artificial Intelligence. This was structured similarly to the Data Structures course, but this time the content was complex. I liked
        that we read papers then discussed in class our thoughts on them. 
      </p>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
      <div class="container text-center">
        <div class="row row-cols-2">
          <div class="col">
            <%= image_tag 'clennis.jpg', :rel => 'apple-touch-icon', :type => 'image/png' %>
            <i class="fa-solid fa-table-tennis-paddle-ball"></i> <!--FontAwesome-->
          </div>
          <div class="col">
            <%= image_tag 'mock.jpg', :rel => 'apple-touch-icon', :type => 'image/png' %>
            <i class="fa-solid fa-gavel"></i> <!--FontAwesome-->
          </div>

          <div class="col">
            One of the activities I do at Conn is Club Tennis. I'm not very skilled, but it's a fun
            and welcoming environment. I'm able to practice and chat. I also love the music they play. 
          </div>
          <div class="col">
            Another activity is mock trial. I'm a witness on our B team. Just last weekend we competed in regionals. 
            It's really fun to be combining both law, acting, and quick thinking on a team. 
          </div>
        </div>
      </div>
        
</section>
